
body{
	*background:#d6df22;
	background:#b9a593;
	margin:0px;
	padding:0px;
	border:1px solid green;
}
.logo_bg{
	background:#6a4a3d;
	background:-webkit-linear-gradient(-50deg, #6a4a3d 21%, #d8d0b9 100%);
	*background:-webkit-linear-gradient(-30deg, #68d601 0%, #00ad4c 50%);
	*background: #00ad4c; /* For browsers that do not support gradients */
    *background: -webkit-linear-gradient(#68d601, #00ad4c); /* For Safari 5.1 to 6.0 */
    *background: -o-linear-gradient(#68d601, #00ad4c); /* For Opera 11.1 to 12.0 */
    *background: -moz-linear-gradient(#68d601, #00ad4c); /* For Firefox 3.6 to 15 */
    *background: linear-gradient(#68d601, #00ad4c); /* Standard syntax */
	border-bottom:2px solid #FFF;
	text-align: center;
	height: 85px;
}
.maincontenta{
	background: #fff;
border-radius: 16px;
border: 2px solid #00f;
box-shadow:3px 3px 3px 3px #727272;

}
.subbanner{
background-color:#ec6841;
box-shadow:3px 3px 3px 3px #727272;
margin-top:10px;
}

		.container-fluid{
			*background:#ffeaf4;
			padding:10px;
			margin:0px;
			min-height:650px;
			width:100%;
		}
		h1{
			font-weight:bold;
			background:#00a0b0;
			color:#fff;
			margin-top:10px;
			border-radius: 9px;
			box-shadow: 0px 0px 6px 3px #FEFEFE;
		}
		h2{
			color: #d6ff08;
background: #cb333f;
padding: 5px 20px;
border-radius: 9px;
box-shadow: 0px 0px 6px 3px #FEFEFE;

		}
		h3{
			margin-top:10px;
		}
		marquee{
			font-weight:bold;
			padding:10px;background:#ffff9d;color:#000;
		}
	
	
		.form-group{
			padding:20px;
		}
		.table{
			background:#fff;
			width:100%
		}
		table{
			background:#fff;
			width:100%
		}
		td, th{
			 text-align:center;
		}
#item_entr{
                padding: 14px 2px 8px 2px;
				height: 300px;
				border-radius: 1px 30px 1px 30px;
				background-color: #60bae3;
				border: 1px solid #e3e3e3;
				width: 100%;
				*margin-left: 35px;
}
.button12{
	border-radius: 9px;
	box-shadow: 0px 0px 6px 3px #FEFEFE;
	margin: 20px;
	background:#ec6841;
}